.flex-column {
    margin-left: 2rem;
    margin-top:3rem;
    width: 12rem;
    float: left;
}

.iteem{
  font-size: 15px;
  width: 10rem;
  background-color: 	#DCDCDC;
  margin-top: 4px;
  color: black;
  font-weight:bold;
}
 .iteem:hover {
  background-color: #555;
  color: white;
}
